html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #FFF;
    background-image: url(../images/background.jpg);
}

h1.header_text{
    font-family: 'Inter';
    font-size: 48px;
    font-style: italic;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0em;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    width: 951px;
    height: 150px;
    top: 378px;
    left: 180px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.main_card{
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
    width: 150px;
    height: 265px;
    top: 610px;
    left: 58px;
    line-height: 1px;

}
.text_card{
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    width: 80%;
    top: 378px;
    left: 180px;
    text-align: left;
}
.center{
    line-height: 20px;
    margin-left: 20%;
    margin-right: 10%;
    height:300px;
}
.row{
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
a{
    color:#FFF;
    text-decoration:unset
}