<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link type="text/css" href="{% static 'taro/css/styles.css' %}" rel="stylesheet">
</head>
<body>
<h1 class="header_text">Карты Таро: Гадание онлайн</h1>
<p class="text">Вы когда-нибудь задумывались о том, что может ожидать вас впереди? Часто мы сталкиваемся с
    неопределенностью и желаем получить некоторые ответы на свои вопросы. В таких случаях использование Таро раскладов
    может быть полезным инструментом для взгляда в будущее.</p>
<div class="row">
    <div class="center">
        <a href="http://127.0.0.1:8000/taro/not">
            <img class="main_card" src="../../static/taro/images/star_card.jpeg">
            <p class="text_card">Гадание на будущее</p>
            <p class="text_card"> Увлекательная и мистическая практика, которая позволяет заглянуть вперед и
                получить представление о том, что может ожидать вас в ближайшем будущем. Карты Таро
                имеют свои символы и архетипы, которые помогают раскрыть скрытые
                аспекты вашей жизни и предоставить ценные подсказки.</p>
        </a>
    </div>
    <div class="center">
        <a href="http://127.0.0.1:8000/taro/not">
            <img class="main_card" src="../../static/taro/images/strength_card.jpeg">
            <p class="text_card">Гадание на карту дня</p>
            <p class="text_card">Этот расклад позволяет охарактеризовать ваш день в полной мере. Вы можете
                выбрать одну карту из колоды Таро и
                исследовать ее значение и символику, чтобы понять, какие энергии и события могут ожидать вас в течение
                дня.</p>
        </a>
    </div>
    <div class="center">
        <a href="http://127.0.0.1:8000/taro/not">
            <img class="main_card" src="../../static/taro/images/lovers_card.jpeg">
            <p class="text_card">Гадание на ситуацию</p>
            <p class="text_card">В этом случае, вы можете выбрать три карты из колоды, которые представляют прошлое,
                настоящее и будущее
                относительно конкретной жизненной ситуации. Такой расклад поможет вам получить глубокое понимание
                текущей
                ситуации и возможные развития в будущем.</p>
        </a>
    </div>
    <div class="center">
        <a href="http://127.0.0.1:8000/taro/not">
            <img class="main_card" src="../../static/taro/images/devil_card.jpeg">
            <p class="text_card">Гадание на ответ "Да" или "Нет"</p>
            <p class="text_card">Может быть полезным. В этом случае, вы можете задать вопрос и выбрать одну карту, чтобы
                получить простой и ясный ответ на ваш вопрос.</p>
        </a>
    </div>
    <div class="center">
        <a href="http://127.0.0.1:8000/taro/not">
            <img class="main_card" src="../../static/taro/images/fortune_card.jpeg">
            <p class="text_card">Толкование карт</p>
            <p class="text_card">Карты Таро имеют разнообразные значения и толкования, которые могут быть применены к
                различным аспектам жизни, таким как любовь, работа, ситуации и т.д. Изучение значения каждой карты
                поможет
                вам лучше понять и интерпретировать полученные результаты гадания.</p>
        </a>
    </div>
</div>
<p class="text">Совет:Важно помнить, что гадание с использованием карт Таро является лишь инструментом для получения
    подсказок и руководства. Вы сами остаетесь хозяином своей судьбы и принимаете решения, основываясь на своих
    собственных убеждениях и ценностях.</p>
</body>
</html>